<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.es.estatemanagement.mapper.BuildingMapper">

    <select id="findCount" resultType="integer">
        select COUNT(1)
        from tb_building
        where community_name = #{communityName}
          and is_deleted = 0
    </select>

    <select id="findSum" resultType="integer">
        select sum(total_households)
        from tb_building
        where community_name = #{communityName}
          and is_deleted = 0
    </select>

</mapper>
