<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>
        添加房产信息
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/css/main.css}" media="all">
    <script type="text/javascript" th:src="@{/lib/loading/okLoading.js}"></script>
    <!-- 引入ElementUI样式 -->
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <style>
        .imgs {
            display: none;
        }
    </style>
</head>
<body>
<div id="app">
<!--    <div class="x-nav">-->
<!--            <span class="layui-breadcrumb">-->
<!--              <a><cite>首页</cite></a>-->
<!--              <a><cite>房产管理</cite></a>-->
<!--              <a><cite>{{title}}</cite></a>-->
<!--            </span>-->
<!--        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"-->
<!--           href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>-->
<!--    </div>-->
    <div class="x-body">
        <el-form :model="dictionary" :rules="rules" ref="buildingFormRef" label-width="120px" class="demo-ruleForm">
            <el-form-item label="字典名称" prop="dictionaryName">
                <el-input v-model="dictionary.dictionaryName"></el-input>
            </el-form-item>
            <el-form-item label="字典类型" prop="dictionaryType">
                <el-input v-model="dictionary.dictionaryType"></el-input>
            </el-form-item>
            <el-form-item label="备注" prop="remarks">
                <el-input v-model="dictionary.remarks"></el-input>
            </el-form-item>
                <el-button type="primary" @click="save()" style="text-align: center">保存</el-button>
                <el-button @click="clearAll()" style="text-align: center">重置</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>
<script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/x-layui.js}" charset="utf-8"></script>
<script th:src="@{/js/jquery.min.js}" charset="utf-8"></script>
<!--导入Vue依赖包-->
<script th:src="@{/js/vue.js}" charset="utf-8"></script>
<!-- 引入Element组件库 -->
<script th:src="@{/js/index.js}"></script>
<!--导入Axios依赖包-->
<script th:src="@{/js/axios.js}" charset="utf-8"></script>
<!--<script src="/static/xiyuan/js/jquery.js" charset="utf-8"></script>-->
<script type="text/javascript">
    var token='[[${session.estateManager}]]';
    var app = new Vue({
        el: "#app",
        data: {
            title: "添加字典",
            dictionary: {
                dictionaryId: "",
                dictionaryName: "",
                dictionaryType: "",
                parentId: "",
                remarks: "",
            },
            rules:{},
        },
        methods: {

            findById() {
                axios.get("/dictionary/findById?id=" + this.dictionary.dictionaryId).then((res) => {
                    console.log(res);
                    this.dictionary = res.data.data;
                });
            },
            //表达重置
            clearAll() {
                this.$refs.buildingFormRef.resetFields();
                if (this.fileList.length > 0) {
                    this.handleRemove();
                }
            },
            save() {
                var method = "";
                if (this.dictionary.dictionaryId != null) {
                    method = "update"
                } else {
                    method = "add"
                }
                axios.post("/dictionary/" + method, this.dictionary).then((res) => {
                    if (res.data.flag) {
                        this.$message({
                            message: res.data.message,
                            type: 'success'
                        });
                    }
                });
            },
            getQueryString(name) {
                let reg = `(^|&)${name}=([^&]*)(&|$)`
                let r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]);
                return null;
            }
        },
        created: function () {
            layui.use(['element', 'layer', 'form'], function () {
                $ = layui.jquery;//jquery
                lement = layui.element();//面包导航
                layer = layui.layer;//弹出层
                form = layui.form();
                okLoading.close($);
            });
            //获取父页面传递参数，小区ID
            this.dictionary.dictionaryId = this.getQueryString("id");
            //根据小区ID获取小区对象，进行数据回显
            if (this.dictionary.dictionaryId != null && this.dictionary.dictionaryId != '') {
                this.title = "修改字典";
                this.findById();
            }
        }
    });
</script>


</body>
</html>